.task-section {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 30px;
  flex-direction: column;
  align-items: center;
}

.task-container {
  max-width: 55vw;
}

.task-text {
  display: flex;
  min-width: 30px;
  margin-bottom: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  text-align: center;
}

.task-container ul {
  min-width: 55vw;
}

/* .task-container li {
  min-height: 10vh;
  min-width: 50vw;
  margin-bottom: 10px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  list-style: none; */

.task-container button {
  position: static;
  min-height: 10vh;
  min-width: 55vw;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-style: dotted;
  border-top-width: 3px;
  border-top-color: hsla(0, 0%, 100%, 1);
  border-right-style: dotted;
  border-right-width: 3px;
  border-right-color: hsla(0, 0%, 100%, 1);
  border-bottom-style: dotted;
  border-bottom-width: 3px;
  border-bottom-color: hsla(0, 0%, 100%, 1);
  border-left-style: dotted;
  border-left-width: 3px;
  border-left-color: hsla(0, 0%, 100%, 1);
  background-color: tomato;
  backface-visibility: visible;
  transform: none /* perspective(0px) */;
  transform-origin: 50% 50%;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  mix-blend-mode: normal;
}
