.timer-section {
  display: flex;
  min-height: 50vh;
  max-height: 70vh;
  min-width: 60vw;
  justify-content: center;
  text-align: left;
}

.timer-container {
  display: flex;
  max-width: 50vw;
  min-width: 55vw;
  min-height: 50vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(238, 118, 97);
}

.timer-button-control {
  display: flex;
  margin-top: 20px;
  align-items: flex-start;
}

.timer-button-control button {
  margin-right: 10px;
  background-color: tomato;
}

.timer-display-control {
  display: flex;
  min-height: 30vh;
  margin-top: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer-display-control h1 {
  font-size: 130px;
}

.timer-start-control {
  
  margin-top: 10px;
  margin-bottom: 10px;
}

.timer-start-control button {
    display: flex;
    min-height: 10vh;
    min-width: 20vw;
    flex-direction: column;
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    justify-content: center;
}
