.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 70px;
    align-items: center;
    background-color: #ff6347;
}

.nav-link { 
    display: block;
    margin: 1em;
    color: white;
    text-decoration: none;
}